body{
  height: 100vh;
  background: url(/src/Assets/background-blue.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#root{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;  
}

.wrapper{
  margin: auto;
}

#board{
  width: 500px;
  aspect-ratio: 1;
  border: 3px solid #a26900;
  border-radius: 10px;
  overflow: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2em;
}

.col{
  border: 1px solid #907142b7;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.col:hover{
  background: #30ff305d;
}

.col:focus{
  background: #16ee16bb;
  border: 1px solid #009400;
}

.dup{
  color: red;
}

.dummy{
  opacity: 0;
  position: absolute;
  aspect-ratio: 1;
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 600px) {
  #board {
    width: calc(100% - 10px);
    font-size: 1.2em;
  }
  #root{
    display: block;
    margin-top: calc(25vh);
  }
}