body {
    height: 100vh;
    background-color: #100116;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#root {
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: auto;
}

.HeroHead{
    background: linear-gradient(to top, #090116, #3e167a);
    width: 100vw;
    height: 200px;
    display: flex;
}

.HeroHead div{
    display: inline-block;
    margin: auto;
}

.HeroHead span{
    color: yellow;
    font: 100px "", sans-serif;
    font-weight: bolder;
    margin: auto;
}

.heading{
    color: #00dc3e;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.front-cart{
    width: 150px;
    height: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 23px;
    box-sizing: border-box;
    background-color : #262626;
    border-color: cyan;
    border-width: 3px;
    border-style: solid;
    color: white;
    border-radius: 15px;
}