body {
    height: 100vh;
    background-color: #100116;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#root {
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: auto;
}

.HeroHead{
    background: linear-gradient(to top, #090116, #2c0337);
    width: 100vw;
    height: 200px;
    display: flex;
}

.HeroHead div{
    display: inline-block;
    margin: auto;
}

@keyframes textShine {
    0% {
        background-position: 0% 0%
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.HeroHead span{
    font: 100px "Josefin Sans", sans-serif;
    font-weight: bolder;
    margin: auto;

    background: linear-gradient(45deg, #3b9de3 0%, #7157e6 25%, #b040c2 51%, #ff353c 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size:600% 150%;
    animation: textShine 3s linear infinite;
}

.heading{
    color: #00dc3e;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.container{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.front-cart-outer{
    width: 204px;
    height: 204px;
    display: block;
    background: linear-gradient(45deg, #3b9de3 0%, #7157e6 25%, #b040c2 51%, #ff353c 100%);
    text-decoration: none;
    display: flex;
    border-radius: 15px;
}

.front-cart{
    width: 200px;
    height: 200px;
    font: 20px "poppins" , sans-serif;
    margin: auto;
    border-radius: 15px;
    background: #1a0c1e;
    color: rgb(214, 91, 255);
}